@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,600&family=Merriweather:ital,wght@0,400;1,700&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  color: black;
  scroll-behavior: smooth;
}

html,
body,
#root,
.scroll,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* user-select: none; */
  overflow: hidden;
}

.app{
  display: flex;
  background-color: #faf5f1;
}

.left-text {
  flex: 2 1 0;
  margin-top: 2%;
  margin-left: 5%;
}

.womp {
  flex: 1 2 0;
}

.slide h2{
  font-family: 'Merriweather', serif;
  font-size: 1.7em;
  color: #2e5545;
  font-style: italic;
  font-weight: 700;
}
.slide p{
  font-family: 'Merriweather', serif;
  color: #2e5545;
  font-size: 1.05em;
}

.slide h3{
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  color: #2e5545;
  font-weight: 700;
}

.slide li{
  font-family: 'Merriweather', serif;
  color: #2e5545;
  font-size: 1.05em;
  margin-bottom: 0.2em;
}

.slide .list{
  margin-top: -0.7em;
  margin-bottom: 1em;
}

.intro {
  display: flex;
  align-items: center;
}

.profile {
  flex: 1 2 0;
}

.profile-image{
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.intro-text {
  flex: 4 1 0;
  margin-left: 3%;
}

.intro-text p{
  font-family: 'Merriweather', serif;
  color: #2e5545;
  font-size: 1.05em;
}

.resume-button {
  border: 0.1em solid #2e5545;
  background-color: #2e5545;
  color: #faf5f1;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  font-size: 1em;
  font-family: 'Merriweather', serif;
  font-style: italic;
  border-radius: 1em;
}

.left-text h2{
  font-family: 'Merriweather', serif;
  font-size: 3em;
  color: #2e5545;
  font-style: italic;
  font-weight: 700;
}

.left-text h3{
  margin-top: -1%;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  color: #2e5545;
  font-weight: 700;
}

.left-text p{
  margin-top: -1%;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: #2e5545;
  font-style: italic;
  font-weight: 700;
  padding-left: 40%;
}

.slides {
  width: 66%;
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 45vh;
  margin-left: 2.5%;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: both proximity;
  -webkit-overflow-scrolling: touch;
}

.scroll > div {
  scroll-snap-align: unset;
}

.slide {
  padding: 30px;
  padding-bottom: 20vh;
  visibility: hidden;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

@media (min-width: 800px) {
  /* Desktop and up */

  .scroll {
      overflow-y: auto;
      overflow-x: hidden;
  }

  .slide {
      padding-bottom: 50vh;
      visibility: visible;
  }

  .scroll > div {
      scroll-snap-align: start;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
